body{
	min-height:100vh;
	min-width:100vw;
	background-image:linear-gradient(25deg,#00af91 55%,#96bb7c 45%);
/*	background-image:linear-gradient(25deg,#f9e3a2 55%,#96bb7c 45%);*/

	background-repeat:no-repeat;
	
}

.action{
       float:right;
       margin-right:2rem;
       margin-bottom:5rem;
       font-size:1.1rem;

}


					/* LIST */
.target{
	width:95%;
}
.item-container{
	width:95%;
	height:100%;
	display:grid;
	grid-template-columns:25% 25% 25% 25%;;
	grid-column-gap:20px;
	grid-row-gap:1rem;
	
}
.card{
	width:100%;
	height:100%;
	padding:10px 0px 0px 10px;
	background-color:transparent;
	backdrop-filter:brightness(50%);
	color:#fff;
	border-radius:20px;
}
.card:hover{
	transform:scale(1.2);
	background-color:#000;
	backdrop-filter:opacity(2%);
	z-index:2;
	margin:0rem 2rem;
}

.del-btn{
	float:right;
	padding:5px 7px;
	margin-right:10px;
	cursor:pointer;
	border-radius:50px;
	transition:background-color 0.5s ease-in, color 0.5s ease-in;
}
.del-btn:hover{
	background-color:#ec4646;
	color:#fff;
	outline:none;
	border-color:#ec4646;
}

					/* FORM */
.form-container{
	margin:10vh auto;
	width:25vw;
	height:60vh;
	padding:2rem;
	background-color:transparent;
	backdrop-filter:blur(15px);
	border-radius:20px;
	box-shadow:2px 2px 19px -6px #374045;
}
.text{
	position:relative;
	line-height:0rem;
	transform:translate(0px,-10px);
}
.sub{
	font-size:1rem;
}
.sup{
	font-size:1.2rem;
}
label input{
	
}
label{
	font-size:0.9rem;
	line-height:0.5rem;
}
::placeholder{
	color:#cfdac8;
}

input{
	padding:10px;
	font-size:1.2rem;
	text-align:center;
	border-style:none;
	border-radius:5px;
	width:80%;
}

.disclaimer{
	font-size:0.8rem;
}

.btn{
	font-size:1.2rem;
	padding:10px;
	width:90%;
	background-color:#583d72;
	border-style:none;
	border-radius:5px;
	color:#fff;
	outline:none;
	cursor:pointer;
}
.btn:hover{
	transform:scale(1.1);
}

.footer{
	width:95vw;
	text-align:center;
	color:#555;
	font-size:1.1rem;
}




